<div class="container">
    <!-- state -->
    <div class="info">
        <div class="label" *ngIf="stateService.round">
            <b>Pot</b>
            <span>{{stateService.round?.currentPot}}</span>
        </div>

        <div class="label" *ngIf="stateService.round">
            <b>Bet</b>
            <span>{{stateService.round?.currentBet}}</span>
        </div>

        <div class="menu right-text">
            <img src="/assets/poker.png">
        </div>
    </div>

    <!-- players -->
    <app-player [player]="player" *ngFor="let player of stateService.preRoundPlayers"></app-player>

    <!-- controls -->
    <div class="center-text start" *ngIf="!stateService.round">
        <button mat-button mat-raised-button color="primary" (click)="start()">Start</button>
    </div>

    <div class="buttons" *ngIf="stateService.round && stateService.socket?.id == stateService.currentPlayer()?.id">
        <button mat-button mat-raised-button color="primary" (click)="fold()">Fold</button>
        <button mat-button mat-raised-button color="primary" (click)="call()">Call</button>
        <button mat-button mat-raised-button color="primary" (click)="raise()">Raise</button>
    </div>
</div>