<div class="container">
    <!-- state -->
    <div class="info">
        <div class="label">
            <b>Pot</b>
            <span>0</span>
        </div>

        <div class="label">
            <b>Bet</b>
            <span>0</span>
        </div>

        <div class="menu right-text">
            <img src="/assets/poker.png">
        </div>
    </div>

    <!-- players -->
    <app-player [player]="player" *ngFor="let player of stateService.preRoundPlayers"></app-player>

    <!-- controls -->
</div>