/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    margin: 20px;
    /*background: url(/assets/table.jpg);
    background-size: cover;
    margin: 20px;
    color: #fff;*/
}

.full-width {
    width: 100%;
    display: block;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}